{% extends "base.html" %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
       <div class="row" style="padding-left:15px;">
       <div class="col-md-7 jumbotron " style="padding:0;">
    	<div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
        <ol class="carousel-indicators" style="color:red;">
          <li class="active" data-slide-to="0" data-target="#carousel-example-generic"  ></li>
          <li data-slide-to="1" data-target="#carousel-example-generic" class="" ></li>
          <li data-slide-to="2" data-target="#carousel-example-generic" class="" ></li>
        </ol>
        <div class="carousel-inner" style="height:400px;">
          <div class="item active center-block" >
            <img alt="Second slide"   src="/static/images/icon4.jpg" class="img-rounded center-block" ></img>
            <div class="carousel-caption">
    			<h3></h3>
    			<p>...</p>
  			</div>
          </div>
          
           <div class="item center-block">
            <img alt="Third slide"  src="/static/images/p13.jpg" class="img-rounded center-block" ></img>
           </div>
           
          <div class="item center-block">
            <img alt="Third slide"  src="/static/images/p7.jpg" class="img-rounded center-block" ></img>
           </div>
           
           <div class="item center-block">
            <img alt="Third slide"  src="/static/images/p9.jpg" class="img-rounded center-block" ></img>
           </div>
           
           <div class="item center-block">
            <img alt="Third slide"  src="/static/images/youer.jpg" class="img-rounded center-block" ></img>
           </div>
           
          
        </div>
        <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control" style="color:black;">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a data-slide="next" href="#carousel-example-generic" class="right carousel-control" style="color:black;">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      
      </div>
      <div class="col-md-5" >
         <div class="well well-lg" style="margin-left:10px;height:400px;">
         <img alt="Third slide"  src="/static/images/p2.jpg" class="img-thumbnail" style="padding:0;margin:0;" ></img>
         <marquee  scrollAmount=2  scrolldelay=10 direction=up behavior=scroll onMouseOut="this.start()"  onMouseOver="this.stop()" height="70%">
          <p>致亲爱的家长：您在为孩子放学后无人看管而烦恼吗？您在为孩子没有好的阅读习惯而忧虑吗？您在担心寒暑假来临孩子的托管问题吗？孙桥安琪儿乐园帮您解决，我们还设有绘本图书馆，大量的图书、绘本可供托管学生免费阅读。</p>
　　                        <p>我们的核心团队成员具有本科或硕士以上学历，我们聘请的教师都具备国家认可的教师资质，我们将爱自己的孩子一样爱您的孩子。孙桥安琪儿乐园一定会是您的放心选择。孙桥安琪儿乐园—有效率、树习惯、爱学习。孙桥晚托学生同时享受免费阅读、奥数辅导、外语辅导。让家长放心满意！让孩子开心！受益！</p>
　　		 <p>孙桥安琪儿乐园位于川杨新苑6期22号楼（中科路2635弄），东方江韵幼儿园隔壁，孙桥晚托班（免费接、小班制课业辅导）、幼儿晚托，早教 </p>
        </marquee>
        <p style="color: #FF6600;font-size: 14px;font-weight: bold;line-height: 23px;text-align:left;padding-top:10px;">
                                                  地　　址：川杨新苑6期22号楼101,东方江韵幼儿园隔壁 <br>联系电话：15800832375(何老师)<br>欢迎致电，我们将竭诚为您和孩子服务！
        </p>
        </div>
      </div>
      
     </div>
    

    
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <img src="/static/images/p4.jpg" alt="..." class="img-circle">
          <h2>晚托辅导</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-6">
          <br/>
          <img src="/static/images/p8.jpg" alt="..." class="img-circle">
          <h2>幼儿教育</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
      </div> 
      
      <div class="row">
        <div class="col-md-6">
         <img src="/static/images/p11.jpg" alt="..." class="img-circle" >
          <h2>精品一对一</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        
         <div class="col-md-6">
          <img src="/static/images/p12.jpg" alt="..." class="img-circle" >
          <h2>兴趣爱好班</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
{% endblock %}