{% extends "bkBase.html" %} {% block content %}


<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#">基本信息</a></li>
  <li role="presentation"><a href="#">工作经历</a></li>
  <li role="presentation"><a href="#">特长</a></li>
</ul>



<script>
	var app = angular.module('myApp', []);
	app.controller('validateCtrl', function($scope) {
		/* $scope.user = 'John Doe';
		$scope.email = 'john.doe@gmail.com'; */

		$scope.submitForm = function(isValid) {
			

		};
	});
</script>
{% endblock %}
